<!DOCTYPE html>
<html>

<head>
  <title>User Details</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/edit_user.js"></script>
</head>

<body>
  <nav class="navbar navbar-light bg-primary">  
    <form class="form-inline">
      <h5 class="text-light ">Contact Management</h5>
      <input type="button" class="btn btn-primary btn-outline-light" style="margin: 5px" value="Index" onclick="location.href = '../../users';">
      <input type="button" class="btn btn-primary btn-outline-light" style="margin: 5px" value="New" onclick="location.href = '../../users/user';">
    </form>
  </nav>   
  <divrow class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          Contact
        </div>
        <div class="card-text px-4">
          <br>
          Name: <%= user.name%>
          <br><br>
          Email: <%= user.email%>
          <br><br>
          Phone: <%= user.phone%>
          <br><br>
        </div>
        <div class="card-footer">
          <a href="/users/user/<%= user._id%>" class="btn btn-outline-warning" role="button" aria-disabled="true">Edit</a>
          <button type="button" class="btn btn-outline-danger deleteButton" data-uid="<%= user._id%>">Delete</button>
        </div>
      </div>
    <div class="col-4"></div>
    </div>
  </divrow>
</body>

</html>